<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin Menu<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("Users Settings", "Index", "Admin")</li>
            <li class="divider"></li>
            <li>@Html.ActionLink("Posts", "Index", "Posts")</li>
            <li>@Html.ActionLink("Events", "Index", "Events")</li>
            <li class="divider"></li>
            <li>@Html.ActionLink("Comments", "Index", "Comments")</li>
            <li>@Html.ActionLink("Inbox", "Index", "Messages")</li>
            <li class="divider"></li>
            <li>@Html.ActionLink("Economy Packets", "Index", "TravelPackets")</li>
        </ul>
    </li>
</ul>
