@model IEnumerable<MyTravelWebsite.Models.Comment>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}
<br />
<h2>Comments/Complaints</h2>
<br />
@using (Html.BeginForm("ShowSearchComment", "Comments", FormMethod.Get))
{
    if (Request.IsAuthenticated && ((User.IsInRole("SuperAdmin") || User.IsInRole("Travel Organizer"))))
    {
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <label for="SearchPhrase">Search: </label>
                            <input type="text" class="form-control" id="search" name="SearchPhrase" onblur="this.value=removeSpaces(this.value);" required placeholder="Username - Email" />
                            <input type="submit" value="Search" class="btn btn-success" />
                            <button class="btn" type="reset" style="background-color: #006600; left:30px;">
                                @Html.ActionLink("Create New", "Create")
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <button class="btn" type="reset" style="background-color: #006600; left:30px;">
            @Html.ActionLink("Create New", "Create")
        </button>
    }
}

<br />
<br />
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr class="btn-info">
            <th>
                @Html.DisplayNameFor(model => model.user)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="background-color:white">
        @foreach (var item in Model)
        {
            if (Request.IsAuthenticated && User.Identity.GetUserName() == item.user)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.user)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.content)
                    </td>
                    <td>
                        <button class="btn" type="reset" style="background-color: #cc7a00">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        </button> |
                        <button class="btn" type="reset" style="background-color: #ffff4d">
                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                        </button>
                    </td>
                </tr>
            }
            else if (Request.IsAuthenticated && ((User.IsInRole("SuperAdmin") || User.IsInRole("Travel Organizer"))))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.user)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.content)
                    </td>
                    <td>
                        <button class="btn" type="reset" style="background-color: #cc7a00">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        </button> |
                        <button class="btn" type="reset" style="background-color: #ffff4d">
                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                        </button> |
                        <button class="btn btn-danger" type="reset">
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
